{% extends "base.html" %}
{% load humanize %}
{% block title %}لیست سفارش ها{% endblock title %}
{% block content %}

{% if orders %}
<main class="main order rtl text-right">
    <div class="page-content pt-7 pb-10 mb-10">
        <div class="step-by pr-4 pl-4">
            
            <h3 class="title title-simple title-step"><a href="order.html">لیست سفارش ها</a></h3>
        </div>
        <div class="container mt-8">
            <div class="order-message mr-auto ml-auto">
                <div class="icon-box d-inline-flex align-items-center">
                    <div class="icon-box-icon mb-0">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
                            enable-background="new 0 0 50 50" xml:space="preserve">
                            <g>
                                <path fill="none" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="bevel" stroke-miterlimit="10" d="
                                    M33.3,3.9c-2.7-1.1-5.6-1.8-8.7-1.8c-12.3,0-22.4,10-22.4,22.4c0,12.3,10,22.4,22.4,22.4c12.3,0,22.4-10,22.4-22.4
                                    c0-0.7,0-1.4-0.1-2.1"></path>
                                <polyline fill="none" stroke-width="4" stroke-linecap="round"
                                    stroke-linejoin="bevel" stroke-miterlimit="10" points="
                                    48,6.9 24.4,29.8 17.2,22.3 	"></polyline>
                            </g>
                        </svg>
                    </div>
                    <div class="icon-box-content text-right">
                        <h5 class="icon-box-title font-weight-bold lh-1 mb-1">متشکریم از خرید شما!</h5>
                        <p class="lh-1 ls-m"> خرید شما در انتظار ارسال است  </p>
                    </div>
                </div>
            </div>
           
            <h2 class="title title-simple text-right pt-4 font-weight-bold text-uppercase">جزئیات فاکتور</h2>
            <div class="order-details">
                <table class="order-details-table">
                    <thead>
                        <tr class="summary-subtotal">
                            <td>
                                <h3 class="summary-subtitle">محصول</h3>
                            </td>
                            <td></td>
                        </tr>
                    </thead>
                    {% for order in orders %}
                    <tbody>
                        
                        
                        {% for item in order.items.all %}
                        
                        <tr>
                            <td class="product-name">{{ item.product.title }}<span> <i class="fas fa-times"></i>
                                    {{ item.quantity }}</span></td>
                            <td class="product-price"> {{ item.new_price|intcomma:False }} تومان </td>
                        </tr>
                        
                        {% endfor %}
                        
                        
                        
                        <tr class="summary-subtotal">
                            <td>
                                <h4 class="summary-subtitle"> جمع:</h4>
                            </td>
                            <td>
                                <p class="summary-total-price"> {{ order.get_total_price_pay|intcomma:False }} تومان </p>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            
            
            <a href="{% url "shop:home" %}" class="btn btn-icon-right btn-dark btn-back btn-rounded btn-md mb-4">بازگشت به فروشگاه<i
                    class="d-icon-arrow-left"></i></a>
        </div>
    </div>
</main>
<!-- End Main -->

{% else %}
<main class="main cart-page rtl text-right">
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url "shop:home" %}"><i class="d-icon-home"></i></a></li>
                <li>لیست سفارشات</li>
            </ul>
        </div>
    </nav>
    <div class="page-content cart-empty">
        <div class="container">
            <div class="main-content">
                <i class="d-icon-bag cart-icon"></i>
                <h2 class="cart-descri">هیچ سفارشی ثبت نشده است  </h2>
                <a class="btn btn-primary btn-rounded" href="{% url "shop:home" %}">
                    بازگشت به صفحه اصلی
                </a>
            </div>
        </div>
    </div>
</main>
<!-- End of Main -->
{% endif %}


{% endblock content %}